name: Lint and Unit Tests
on: [push, pull_request]

jobs:
  node_matrix:
    uses: appium/appium-workflows/.github/workflows/node-lts-matrix.yml@main

  test:
    needs:
    - node_matrix
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.node_matrix.outputs.versions) }}
    name: Lint and Unit Tests
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
      - uses: SocketDev/action@v1
        with:
          mode: firewall-free
      - name: Install dependencies
        run: sfw npm install
      - name: Run linter
        run: npm run lint
      - run: npm run format:check
        name: Run Prettier check
      - name: Run unit tests
        run: npm run test:unit
