# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Release

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3
    - name: Use Node.js 16.x
      uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # v3
      with:
        node-version: 16.x
    - run: npm install
      name: Install dependencies
    - run: npm run build
      name: Run build
    - run: npm run test:ci
      name: Run test
    - run: |
        rm -rf package-lock.json
        npm prune --production
        rm -rf node_modules/appium
      name: Remove dev dependencies and appium peer dependencies
    - run: npm shrinkwrap
      name: Create shrinkwrap
    - run: npm install --only=dev
      name: Install dev dependencies for the release
    - run: npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      name: Release
